name: Metrics

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: DRA3V50
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: America/Detroit

          # Plugins
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8

          plugin_stars: yes
          plugin_stars_limit: 4

          plugin_achievements: yes
          plugin_achievements_threshold: C
          plugin_achievements_secrets: yes
          plugin_achievements_display: compact

          plugin_trophies: yes
          plugin_trophies_theme: onedark

          plugin_followup: yes
          plugin_followup_sections: repositories

          plugin_lines: yes
