name: Generate Network Flow

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Generate Network Flow
        run: python3 scripts/generate_network_flow.py

      - name: Commit SVG
        uses: EndBug/add-and-commit@v9
        with:
          add: "assets/network_flow.svg"
          author_name: "mitre-bot"
          author_email: "mitre-bot@users.noreply.github.com"
          message: "Update network flow"
          push: true
