name: Generate Radar Stats

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate Radar-style stats SVG
        uses: cicirello/user-statistician@v1
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          image-file: radar-stats.svg
          commit-and-push: true
          commit-message: "Update radar stats SVG"
          colors: "green"
